$header-background: #ffcb05;
$navigation-background: #3b4cca;
$text-color: #000;
$hover-color: #f2f2f2;

.logo, .icon {
  // Initial state: no rotation
  transition: transform 2s ease-in-out;
  
  &:hover {
    // On hover, apply a rotation
    animation: spin 0.2s ease-in-out infinite;
  }
}

/* 
.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
}


.button__icon {
  margin-right: 10px;
}

.button__text {
  font-weight: bold;
}


.button--large {
  padding: 15px 30px;
  font-size: larger;
} */

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;

  &--large {
    padding: 15px 30px;
    font-size: larger;
  }

  &__icon {
    margin-right: 10px;
  }

  &__text {
    font-weight: bold;
  }
}

.search{
  background-color: #f2f2f2;
  
  &__img {
    width: 20px;
    height: 20px;
  }
}

// Define the keyframes for the spinning animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}