$header-background: #ffcb05;
$navigation-background: #3b4cca;
$text-color: #000;
$hover-color: #f2f2f2;

.logo, .icon {
  // Initial state: no rotation
  transition: transform 2s ease-in-out;
  
  &:hover {
    // On hover, apply a rotation
    animation: spin 0.2s ease-in-out infinite;
  }
}


// Define the keyframes for the spinning animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}